<div layout="row" layout-fill layout-align="center center" >
    <md-content class="md-whiteframe-z1" flex="75" >
        <md-toolbar>
            <h2 class="md-toolbar-tools">
                <span>Todos</span>
            </h2>
            <md-button href="#/todo/new"class="md-warn md-fab md-fab-top-right">
                <i class="fa fa-plus"></i>
            </md-button>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="todo in todos" >
                    <div  class="md-list-item-text">
                        <h3>{{todo.todoName}}</h3>
                        <h4>{{todo.importance |importance}}</h4>
                        <p>{{todo.description}}</p>
                    </div>
                    <div layout="column" layout-align="center center">
                        <md-checkbox ng-model="todo.isComplete" ng-change="setComplete(todo)">
                        </md-checkbox>
                        <md-button class="md-raised md-accent" ng-click="edit($event,todo.id)">Edit</md-button>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
        <md-content>
            <md-list>
                <md-list-item class="md-3-line">
                    <div layout="column" layout-align="center center">
                        <p>{{completed()}}/{{todos.length}} Tasks Completed.</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-content>
</div>
{{$scope.todos}}